.nevigation-bar
{
    display: flex;
    height: 92px;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}

.menu-item
{
    display: flex;
    gap: 30px;
}

.both-logo
{
    margin-left: 100px;
    margin-top: 20px;
}

.both-logo1
{
    margin-top: 20px;
    padding-top: 70px;
}

.menu-item
{
    list-style: none;
    font-size: 20px;
    justify-content: center;
    margin-top: 35px;

}

.get-btn
{
    padding: 12px 16px;
    margin-right: 100px;
    margin-top: 20px;
    font-size: 20px;
    background-color: rgba(70, 145, 101, 1);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;

}

li a
{
    text-decoration: none;
    font-family: inter,Arial, Helvetica, sans-serif;
    color: black;
}

.herodiv
{
    height: 674px;
    background-image: url(./image/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.early
{
    text-align: center;
}

.btnearly
{
    font-family: inter,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgba(70, 145, 101, 1);
    font-size: 15px;
    border-radius: 15px;
    border: none;
    padding: 5px;
}

.herohead{
    text-align: center;
    font-size: 70px;
    color: rgb(255, 255, 255);
    font-family: inter, 'Arial Narrow Bold', sans-serif
}

.secoundheader
{
    color: rgba(48, 184, 104, 1);
}

.heropara
{
    text-align: center;
    color: white;
    font-family: inter, 'Courier New', Courier, monospace;
    font-size: large;
}
.billing-btn
{
    text-align: center;
}

.bill
{
    padding: 12px 16px;
    background-color: rgba(70, 145, 101, 1);
    border-radius: 5px;
    border: none;
    margin: 2px;
    color: white;
    font-family: inter, 'Courier New', Courier, monospace;
}

.see
{
    padding: 12px 16px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    margin: 2px;
    font-family: inter, 'Courier New', Courier, monospace;
}

.contentdiv{
    margin: auto;
}

.notes
{
    width: 100%;
    margin: auto;
    text-align: center;
}

.cart
{
    width: 325px;
    height: 250px;
    text-align: center;
    margin: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
    /* border: 1px solid red; */
    background-color: rgb(252, 252, 252);
    box-shadow: -1px -1px 6px rgb(194, 194, 194);
    padding-left: 20px;
    padding-right: 20px;
}

.cartheader
{
    font-size: 24px;
    font-family: inter,Arial, Helvetica, sans-serif;
}

.cartpara
{
    font-size: 16px;
    font-family: inter,Arial, Helvetica, sans-serif;
}

.three-cart
{
    display: flex;
    justify-content: space-around;
}

.lowermaindiv
{
    display: flex;
    margin: 50px;
}

.lowermaindivcontent
{
    margin: 80px;
    width: 40%;
}

.lastul
{
    list-style: none;
}

li
{
    color: rgb(0, 0, 0);
}

.tik
{
    color: rgb(15, 184, 0);
}

.lastul li{
    margin-top: 25px;
    font-family: inter , Arial, Helvetica, sans-serif;
}

.solution
{
    size: 16px;
    font-family: inter , Arial, Helvetica, sans-serif;
    color: rgba(70, 145, 101, 1);
    margin-left: 40px;
}

.brain
{
    font-size: 48px;
    font-weight: 700;
    font-family: inter , Arial, Helvetica, sans-serif;
    margin-left: 40px;
}

.last{
    height: 300px;
    width: 1360px;
    background-color: rgba(247, 246, 242, 1);
    text-align: center;
    margin: auto;
    padding-top: 30px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.ready
{
    font-family: inter , Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.lastpara
{
    font-family: inter , Arial, Helvetica, sans-serif;
    margin-left: 400px;
    margin-right: 400px;
    color: rgba(98, 115, 130, 1);
}

.lastbtn
{
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
    background-color: rgba(70, 145, 101, 1);
    color: white;
}

.footdiv
{
    display: flex;
    justify-content: center;
    gap: 80%;
    margin-bottom: 60px;
}

.copy
{
    font-family: inter , Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(250, 250, 250);
}

footer
{
    background-color: rgba(0, 25, 49, 1);
    height: 300px;


}

hr
{
    margin-left: 60px;
    margin-right: 60px;
    border: none;
    height: 1px;
    background-color: rgb(65, 92, 136);
}
.logolink
{
    padding-right: 5px;
}